<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1qtW80yYTedroXYcqkWa-pHi7ntfX7XU</string>
	<key>GCM_SENDER_ID</key>
	<string>223211044513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orthosoft.dergutehirte</string>
	<key>PROJECT_ID</key>
	<string>der-gute-hirte</string>
	<key>STORAGE_BUCKET</key>
	<string>der-gute-hirte.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223211044513:ios:85a3cd03c677076c8efae0</string>
</dict>
</plist>